.about-content {
  width: 100vw;
  /* margin: 50px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-content img {
  height: 600px;
  width: 405px;
  object-fit: cover;
}
.about-content p {
  text-transform: none;
  margin-bottom: 50px;
}
.cta {
  margin-left: 50px;
  width: 450px;
}
.cta.right {
  margin-right: 50px;
}
.cta a {
  padding: 8px 20px;
  border: 1px solid #2d3436;
  transition: 0.25s;
}
.cta a:hover {
  background-color: #2d3436;
  color: #ecf0f1;
}
@media (min-width: 1999px) {
  .cta p {
    font-size: 1.25rem;
  }
}
@media (max-height: 730px) {
  .about-content {
    margin: 50px 0;
    position: initial;
    top: 0;
    transform: translateY(0%);
  }
}
@media (max-width: 920px) {
  .cta p {
    padding-right: 50px;
  }
  .cta.right p {
    padding-right: 0;
  }
}
@media (max-width: 740px) {
  .about-content {
    flex-direction: column;
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .about-content img {
    height: 450px;
    width: 300px;
    margin-bottom: 50px;
  }
  .cta p {
    padding-right: 0;
    text-align: center;
  }
  .cta.right p {
    margin-top: -50px;
  }
  .cta a {
    display: none;
  }
  .about-content.right img {
    display: none;
  }
  .cta {
    width: 80%;
  }
  .cta.left {
    margin-left: -0px;
  }
}
