* {
  margin: 0;
  padding: 0;
  font-family: "Muli";
}
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden; */
}
.showcase {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  /* margin: 50px 0; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#one,
#two,
#three,
#four,
#one-paintball,
#two-fitness {
  opacity: 0;
}
#one {
  background-image: url("../photos/moment-thumbnail.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s 0.4s forwards;
}
#one-paintball {
  background-image: url("../photos/paintball-thumbnail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s 0.4s forwards;
}
#two-fitness {
  background-image: url("../photos/fitness-thumbnail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s 0.55s forwards;
}
#two {
  background-image: url("../photos/box-thumbnail.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s 0.55s forwards;
}
#three {
  background-image: url("../photos/sport-thumbnail.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s 0.65s forwards;
}
#four {
  background-image: url("../photos/nature-thumbnail.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: transitionIn 1.5s 0.8s forwards;
}
/* SHOW-CONTAINER STYLING */
.container {
  position: relative;
  height: 600px;
  width: 400px;
  cursor: pointer;
  margin: 10px;
}
.show-container {
  height: 100%;
  width: 100%;
  display: block;
  transition: 0.25s ease;
  backface-visibility: hidden;
  opacity: 1;
}
.container:hover .show-container {
  -webkit-filter: brightness(15%);
}
.container .ctr-title {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 75px;
  width: 0;
  background-color: #ecf0f1;
  transition: width 0.2s;
  /* padding: 25px 10px; */
}
.container p {
  position: absolute;
  bottom: 25px;
  left: 5px;
  font-weight: 600;
  font-size: 1.35rem;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.35s;
}
.container:hover .ctr-title {
  width: 100%;
}
.container:hover p {
  opacity: 1;
}
.text {
  color: #ecf0f1;
  font-size: 34px;
  letter-spacing: 6px;
  font-weight: 500;
}
@media (max-height: 840px) {
  .showcase {
    margin: 50px 0;
    position: initial;
    top: 0;
    transform: translateY(0%);
  }
}
@media (max-width: 1660px) {
  .container {
    width: 275px;
    margin: 2.5px;
  }
  .container .ctr-title {
    height: 50px;
  }
  .container p {
    bottom: 10px;
  }
}
@media (min-width: 1999px) {
  .container {
    height: 750px;
    width: 450px;
  }
}
@media (max-width: 1210px) {
  .showcase {
    width: 75%;
    flex-wrap: wrap;
  }
}
@media (max-width: 740px) {
  .container .ctr-title {
    width: 100%;
  }
  .container p {
    opacity: 1;
    font-size: 1.05rem;
    left: 52.5%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0.5;
  }
}
