* {
  margin:0;
  padding:0;
  font-family: 'Muli', sans-serif;
  scroll-behavior: smooth;
  text-transform: uppercase;
}
a {
  color:inherit;
  text-decoration: none;
}
html {
  max-width: 100vw;
}
/* PAGE-SPECIFIC NAV EDITS */

/* LANDING BOX STYLING */
body {
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  flex-direction: column;
}
.main {
  background: linear-gradient( rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315) ), url('../photos/homepage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1.25%;
  height: 95vh;
  width: 97%;
  position: relative;
}
.nav {
  position: absolute;
}
/* #hamburger {
  position: absolute;
  right: 2.5%;
  top: 4%;
  color: #ecf0f1;
  font-size: 1.75rem;
} */
.learn {
  color: #ecf0f1;
  border: 1px solid #ecf0f1;
  padding: 10px 30px;
  letter-spacing: 2.5px;
  font-size: .85rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  cursor: pointer;
  transition: .3s all ease;
}
.learn:hover {
  background-color: #ecf0f1;
  color: #2d3436;
}