* {
  margin:0;
  padding:0;
  font-family: 'Muli', sans-serif;
  scroll-behavior: smooth;
  text-transform: uppercase;
}
.nav {
  width: 100%;
  height: 20%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top:0;
}
.nav-left {
  margin-left: 2%;
  display:flex;
  flex-direction: column;
  flex:1;
  height:100%;
  margin-top: 2%;
}
.nav .headline {
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 600;
  color: #ecf0f1;
}
.nav .sub {
  font-size: 1.1rem;
  letter-spacing: 4px;
  font-weight: 200;
  color: #ecf0f1;
}
.nav-right {
  margin-top: 2%;
}
.nav-right i {
  padding-right: 15px;
  font-size: 1.5rem;
  color: #ecf0f1;
  cursor: pointer;
  transition: .3s all ease;
}
.nav-right i:hover {
  color: #2f3640;
}
.nav-options {
  display:flex;
  height:100%;
  justify-content: space-evenly;
  flex:1;
  margin-top: 3.5%;
}
.nav-options p {
  color: #ecf0f1;
  font-weight: 500;
  cursor:pointer;
}
/* DARK STYLING */
#dark p {
  color: #2f3640;
}
#dark i {
  color: #2f3640;
}
#dark i:hover {
  color: #576574;
}