/* CUSTOM SCROLLBAR */
/* SCROLLBAR STYLE */
/* Scrollbar width */
::-webkit-scrollbar {
  width: 13.5px;
  padding-bottom: 20px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f8f8f8;
  border-radius: 10px;
}
/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #2f3640;
  border-radius: 10px;
}
::selection {
  background: #dcdde1; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #dcdde1; /* Gecko Browsers */
}
* {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  scroll-behavior: smooth;
  text-transform: uppercase;
}
html,
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  background-color: #ecf0f1;
}
.nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.nav.homepage {
  align-items: flex-start;
}
.bgr {
  position: relative;
  top: 0px;
  right: 40px;
  display: none;
  cursor: pointer;
}
.bgr.homepage {
  margin-top: 20px;
}
.bgr .bar {
  height: 4px;
  width: 35px;
  background-color: white;
  margin-bottom: 4px;
}
.bgr.dark .bar {
  background-color: #2f3640;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  min-height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  transition: cubic-bezier(0.55, 0, 0.1, 1) right 0.55s;
  z-index: 1000;
}
.active {
  right: 0;
}
.mobile-menu #close {
  position: relative;
  top: 40px;
  left: 50px;
  padding: 10px;
  font-weight: 800;
  font-size: 2.25rem;
  cursor: pointer;
  opacity: 0.25;
  /* opacity: 0.35; */
  /* width: fit-content; */
}
.mobile-menu img {
  position: relative;
  top: -25px;
  left: 110px;
  height: 75px;
  width: 75px;
  /* width: fit-content; */
}
.mobile-menu .mobile-options {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0px 65px;
  font-size: 55px;
  width: fit-content;
}
.mobile-menu .links {
  font-size: 1.75rem;
  margin: 10px 65px;
}
.mobile-menu .mobile-options a {
  position: relative;
  margin: 10px 0;
  font-size: 2rem;
  transition: padding 0.25s;
}
.mobile-menu .mobile-options a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -16.5px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #2f3640;
  opacity: 0;
  transition: opacity 0.15s;
}
.mobile-menu .mobile-options a:hover::after {
  opacity: 1;
}
.mobile-menu .mobile-options a:hover {
  padding-left: 10px;
}
.homepage {
  position: absolute;
  top: 0;
}
.nav-left {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  /* margin-top: 2%; */
}
.nav .headline {
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 600;
  color: #ecf0f1;
}
.nav .sub {
  font-size: 1.1rem;
  letter-spacing: 4px;
  font-weight: 200;
  color: #ecf0f1;
}
.nav-right {
  margin-top: 2%;
}
.nav-right i {
  padding-right: 15px;
  font-size: 1.55rem;
  color: #ecf0f1;
  cursor: pointer;
  transition: 0.15s all ease;
}
.nav-right i:hover {
  color: #2f3640;
}
.nav-options {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.nav-options a {
  color: #ecf0f1;
  font-weight: 500;
  cursor: pointer;
  margin-right: 65px;
  position: relative;
}
.nav-options a::after {
  content: "";
  position: absolute;
  height: 7.5px;
  width: 7.5px;
  background-color: #2f3640;
  border-radius: 100%;
  opacity: 0;
  left: -12.5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.15s;
}
.nav-options a:hover::after {
  left: -17.5px;
  opacity: 1;
}
.nav-options p:hover {
  text-decoration: underline;
}
/* DARK STYLING */
#dark p,
#dark a,
#dark i {
  color: #2f3640;
}
#dark i:hover {
  color: #576574;
}
img {
  height: 400px;
  width: 600px;
}

/* MOBILE MEDIA QUERIES */
@media (min-width: 1999px) {
  .nav .headline {
    font-size: 2.75rem;
  }
  .nav .sub {
    font-size: 1.35rem;
  }
  .nav-right i {
    font-size: 1.85rem;
  }
  .nav-options {
    font-size: 1.2rem;
  }
  .nav-options a::after {
    height: 11.5px;
    width: 11.5px;
    left: -20px;
  }
  .nav-options a:hover::after {
    left: -25px;
  }
}
@media (max-width: 1151px) {
  .nav .headline {
    font-size: 2.1rem;
  }
  /* .nav .sub {
    font-size: 1.1rem;
    letter-spacing: 4px;
    font-weight: 200;
    color: #ecf0f1;
  } */
  .nav-right i {
    font-size: 1.35rem;
  }
  .nav-options {
    font-size: 0.9rem;
  }
  .nav.homepage .headline {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .nav {
    margin-top: 15px;
  }
  .nav .sub {
    font-size: 0.95rem;
    padding-top: 5px;
  }
  .nav-options {
    display: none;
  }
  .nav .nav-right {
    display: none;
  }
  .bgr {
    display: inline-block;
    margin-right: -11.5px;
  }
  .nav .headline {
    width: 65%;
  }
}
@media (max-width: 420px) {
  .mobile-menu .mobile-options a {
    font-size: 2rem;
    margin: 5px 0;
  }
  .mobile-menu #close {
    font-size: 1.65rem;
    left: 20px;
  }
  .mobile-menu img {
    height: 60px;
    width: 60px;
    left: 75px;
    top: -12.5px;
  }
  .mobile-menu .mobile-options {
    margin: 0 30px;
  }
  .mobile-menu .links {
    margin: 10px 30px;
    font-size: 2rem;
  }
  .nav .headline {
    width: 90%;
    font-size: 1.7rem;
    line-height: 95%;
  }
  .nav {
    margin-top: 15px;
    margin-left: 5px;
  }
  .nav .sub {
    font-size: 0.8rem;
    width: 75%;
  }
  .mobile-menu .mobile-options a {
    font-size: 1.75rem;
  }
}
